[access]
	inheritFrom = All-Projects
[project]
	description = org1
[access "refs/*"]
	owner = group user/mmanojkumar13
[access "refs/for/refs/*"]
	read = group user/mmanojkumar13
	push = group user/mmanojkumar13
	label-Code-Review = -2..+2 group user/mmanojkumar13
	label-Verified = -1..+1 group user/mmanojkumar13
	rebase = group user/mmanojkumar13
	removeReviewer = group user/mmanojkumar13
	submit = group user/mmanojkumar13
[access "refs/heads/*"]
	read = group user/mmanojkumar13
	create = group user/mmanojkumar13
	push = +force group user/mmanojkumar13
	pushMerge = group user/mmanojkumar13
[access "refs/tags/*"]
	push = group user/mmanojkumar13
	push = +force group user/mmanojkumar13
